.ConNoConciliacion > #contenedorAcciones {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: max-content;
	grid-template-areas: "fechaI fechaF buscar conciliar";
	justify-items: center;
	align-items: center;
}

.ConNoConciliacion > #contenedorAcciones > #fechaI {
	grid-area: fechaI;
}

.ConNoConciliacion > #contenedorAcciones > #fechaF {
	grid-area: fechaF;
}

.ConNoConciliacion > #contenedorAcciones > #buscar {
	grid-area: buscar;
}

.ConNoConciliacion > #contenedorAcciones > #conciliar {
	grid-area: conciliar;
}