.ConSaldos > #contenedorAcciones {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: max-content;
	grid-template-areas: "fechaI fechaF banco cta buscar";
	justify-items: center;
	align-items: center;
}

.ConSaldos > #contenedorAcciones > #banco {
	grid-area: banco;
}

.ConSaldos > #contenedorAcciones > #cta {
	grid-area: cta;
}

.ConSaldos > #contenedorAcciones > #fechaI {
	grid-area: fechaI;
}

.ConSaldos > #contenedorAcciones > #fechaF {
	grid-area: fechaF;
}

.ConSaldos > #contenedorAcciones > #buscar {
	grid-area: buscar;
}
