.ConTrnDWH > #contenedorAcciones {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: max-content;
	grid-template-areas: "fechaI fechaF banco buscar";
	justify-items: center;
	align-items: center;
}

.ConTrnDWH > #contenedorAcciones > #fechaI {
	grid-area: fechaI;
}

.ConTrnDWH > #contenedorAcciones > #fechaF {
	grid-area: fechaF;
}

.ConTrnDWH > #contenedorAcciones > #banco {
	grid-area: banco;
}

.ConTrnDWH > #contenedorAcciones > #buscar {
	grid-area: buscar;
}
