.ConUsuarios > #contenedorAcciones {
    display: grid;
    /* grid-template-columns: repeat(1, 1fr); */
    grid-template-rows: max-content;
    grid-template-areas: "actualizar";
    justify-items: center;
    align-items: center;
}

.ConUsuarios > #contenedorAcciones > #actualizar {
    grid-area: actualizar;
}
