:root {
	--body-bg-oscuro: #1a1b1c;
	--body-color-oscuro: #ffffff;
	--body-bg-claro: #ffffff;
	--body-color-claro: #000000;

	--azul_fuerte: #1d4387;
	--azul_medio_1: #0677ba;
	--azul_medio_2: #1c6c94;
	--azul_medio_3: #198fb0;
	--azul_claro: #07aada;
	--advertencia: #d3d32b;
	--error: #a50d0d;
	--exito: #169c16;

	--btnGradiente: linear-gradient(to bottom, #1d4387 5%, #07aada 100%);
	--btnGradienteHover: linear-gradient(to bottom, #07aada 5%, #1d4387 100%);
	--btnGradienteDisabled: linear-gradient(to bottom, #871d1d 5%, #da0707 100%);
}

html {
	height: 100vh;
	width: 100vw;
}

html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 1.2vh;
}

body {
	height: 100%;
	width: 100%;
	position: relative;
	background: var(--body-bg);
	color: var(--body-color);
}

body.claro {
	background: var(--body-bg-claro);
	color: var(--body-color-claro);
}

body.oscuro {
	background: var(--body-bg-oscuro);
	color: var(--body-color-oscuro);
}

select,
input {
	border-radius: 15px;
	padding: 3px 5px;
	border: 2px solid black;
}

select:focus,
input:focus {
	outline: none;
}

select:hover,
input:hover {
	border: 2px solid var(--azul_claro);
}

button {
	background: var(--btnGradiente);
	border-radius: 15px;
	border: 0;
	cursor: pointer;
	color: white;
	padding: 5px 10px;
	min-width: 70px;
}

button:hover {
	background: var(--btnGradienteHover);
}

button:disabled {
	background: var(--btnGradienteDisabled);
}

button:not(:disabled):active {
	position: relative;
	top: 1px;
}

*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: gray;
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--azul_medio_1);
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: var(--azul_claro);
}

*::-webkit-scrollbar-thumb:active {
	background-color: var(--azul_medio_1);
}
