:root {
	--azul_fuerte: #1d4387;
	--azul_medio_1: #0677ba;
	--azul_medio_2: #1c6c94;
	--azul_medio_3: #198fb0;
	--azul_claro: #07aada;
	--advertencia: #d3d32b;
	--error: #a50d0d;
	--exito: #169c16;
}

html {
	border: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

select,
input:focus {
	outline: none;
}

input:hover {
	border: 2px solid var(--azul_fuerte);
}

button {
	box-shadow: inset 0px -3px 7px 0px #1d4387;
	background: linear-gradient(to bottom, #1d4387 5%, #07aada 100%);
	background-color: #1d4387;
	border-radius: 3px;
	border: 0;
	display: inline-block;
	cursor: pointer;
	color: white;
	padding: 5px 10px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #263666;
}

button:hover {
	background: linear-gradient(to bottom, #07aada 5%, #1d4387 100%);
	background-color: #07aada;
}

button:active {
	position: relative;
	top: 1px;
}
