:root {
	--azul_fuerte: #1d4387;
	--azul_medio_1: #0677ba;
	--azul_medio_2: #1c6c94;
	--azul_medio_3: #198fb0;
	--azul_claro: #07aada;
	--advertencia: #d3d32b;
	--error: #a50d0d;
	--exito: #169c16;

	--btnGradiente: linear-gradient(to bottom, #1d4387 5%, #07aada 100%);
	--btnGradienteHover: linear-gradient(to bottom, #07aada 5%, #1d4387 100%);
	--btnGradienteDisabled: linear-gradient(to bottom, #871d1d 5%, #da0707 100%);
}

html {
	height: 100vh;
	width: 100vw;
}

html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3vh;
}

body {
	height: 100%;
	width: 100%;
	position: relative;
}

select:focus,
input:focus {
	outline: none;
}

select,
input {
	border-radius: 15px;
}

input:hover {
	border: 2px solid var(--azul_fuerte);
}

button {
	background: var(--btnGradiente);
	border-radius: 15px;
	border: 0;
	cursor: pointer;
	color: white;
	padding: 5px 10px;
}

button:hover {
	background: var(--btnGradienteHover);
}

button:disabled {
	background: var(--btnGradienteDisabled);
}

button:not(:disabled):active {
	position: relative;
	top: 1px;
}
