@import url("./global.css");
@import url("./navegacion.css");
@import url("./vista.css");
@import url("./inicio.css");
@import url("./regTrnBancos.css");
@import url("./tablaDatos.css");

/* 
@import url("./mensaje.css");
@import url("./layout.css");
@import url("./logout.css");
@import url("./selBanco.css");
@import url("./selPeriodo.css");
@import url("./selArchivo.css");
@import url("./selLayout.css");
 */

.contenedor {
	width: 100%;
	height: 100%;
	display: grid;
	overflow: hidden;
	grid-template-rows: max-content 1fr max-content;
	position: relative;
}

#navegacion {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
}

#main {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#pie {
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	font-size: x-small;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	z-index: 5;
}
