@import url("./global.css");
@import url("./mensaje.css");
@import url("./navegacion.css");
@import url("./inicio.css");
@import url("./regTrnBancos.css");

.contenedor {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 3% 95% 2%;
	position: relative;
}

.navegacion {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
}

.main {
	width: 100%;
	height: 100%;
	position: relative;
}

.main:first-child {
	width: 100%;
	height: 100%;
}

.pie {
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	font-size: x-small;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}
