@import url("./global.css");
@import url("./navegacion.css");
@import url("./mensaje.css");
@import url("./periodo.css");
@import url("./listaDesplegable.css");
@import url("./solcitaDato.css");
@import url("./muestraDato.css");
@import url("./botonera.css");
@import url("./solicitaArchivo.css");
@import url("./tablaDatos.css");
@import url("./vista.css");
@import url("./inicio.css");
@import url("./regTrnBancos.css");
@import url("./layout.css");
@import url("./logout.css");

@import url("./aclaraciones.css");
@import url("./ajustes.css");
@import url("./cartera.css");
@import url("./conciliacion.css");
@import url("./conConciliacion.css");
@import url("./conNoConciliacion.css");
@import url("./conciliar.css");
@import url("./conCtasBancarias.css");
@import url("./conCtasContables.css");
@import url("./conSaldos.css");
@import url("./conTrnBancos.css");
@import url("./conTrnMambu.css");
@import url("./edoCta.css");
@import url("./etiquetas.css");
@import url("./noConciliado.css");
@import url("./recalculoCapital.css");
@import url("./recalculoInteres.css");
@import url("./regCtasBancarias.css");
@import url("./regCtasContables.css");
@import url("./regSaldos.css");
@import url("./regTrnMambu.css");
@import url("./resConciliacion.css");
@import url("./resSaldoFavor.css");
@import url("./regTrnDWH.css");
@import url("./conTrnDWH.css");
@import url("./variables.css");

.contenedor {
	width: 100%;
	height: 100%;
	display: grid;
	overflow: hidden;
	grid-template-rows: max-content 1fr max-content;
	position: relative;
}

#navegacion {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
}

#main {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#pie {
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	font-size: x-small;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	z-index: 5;
}
