#inicio {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#inicio > #spnBienvenida * {
	font-size: x-large;
	font-weight: bold;
	/* color: #1e1e1e; */
	text-align: center;
}

#inicio > #logo {
	width: 40%;
	height: 40%;
}

#inicio > #contenedorRecomendacion {
	text-align: center;
	/* color: #1e1e1e; */
}

#inicio > #contenedorRecomendacion > strong > p {
	font-size: x-large;
	font-weight: bold;
}

#inicio > #contenedorRecomendacion > small > p {
	font-size: small;
}

#inicio > #modo {
	width: 5%;
	height: 5%;
	margin: 5px;
}

#inicio > #modo.invertir {
	filter: invert(1);
}

#inicio > #modo:hover {
	cursor: pointer;
}
