.contenedorLayout {
	width: 100%;
	height: 100%;
	display: grid;
	/* grid-template-rows: max-content 1fr 90%; */
	grid-template-rows: max-content max-content 1fr;
	grid-template-columns: 0.5fr repeat(4, 1fr) 0.5fr;
	grid-template-areas:
		"titulo titulo titulo titulo titulo titulo"
		"nuevo selBanco selLayout tipo extensiones guardar"
		"editor editor editor editor editor editor";
}

.titulo {
	grid-area: titulo;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedorLayout .selLayout {
	grid-area: selLayout;
}

.contenedorTipo {
	grid-area: tipo;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.contenedorTipo .lblTipo {
	font-weight: bold;
}

.contenedorExt {
	grid-area: extensiones;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.contenedorExt .lblExtensiones {
	font-weight: bold;
}

.contenedorGuardar {
	grid-area: guardar;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.contenedorNuevo {
	grid-area: nuevo;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.contenedorEditor {
	grid-area: editor;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.editor {
	width: 95%;
	height: 99%;
	display: flex;
	align-items: center;
	justify-content: center;
	resize: none;
}
