.Layout > #contenedorAcciones {
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: max-content;
	grid-template-areas: "nuevo banco layout tipo extensiones guardar eliminar";
	justify-items: center;
	align-items: center;
}

.Layout > #contenedorAcciones > #nuevo {
	grid-area: nuevo;
}

.Layout > #contenedorAcciones > #banco {
	grid-area: banco;
}

.Layout > #contenedorAcciones > #layout {
	grid-area: layout;
}

.Layout > #contenedorAcciones > #tipo {
	grid-area: tipo;
}

.Layout > #contenedorAcciones > #extensiones {
	grid-area: extensiones;
}

.Layout > #contenedorAcciones > #guardar {
	grid-area: guardar;
}

.contenedorGuardar {
	grid-area: guardar;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.contenedorEditor {
	grid-area: editor;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.editor {
	background: url(http://i.imgur.com/2cOaJ.png);
	background-attachment: local;
	background-repeat: no-repeat;
	padding-left: 35px;
	padding-top: 10px;
	border-color: black;
	width: 95%;
	height: 99%;
	display: flex;
	align-items: center;
	justify-content: center;
	resize: none;
	border-radius: 15px;
	outline: none;
}
