#logout {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#logout > #accion {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 50px;
}

#logout > #accion > h1 {
	font-size: 25px;
}

#logout > #accion > h3 {
	font-size: 15px;
}