#contenedorLayouts {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-areas:
		"titulo"
		"selector";
	align-content: center;
	justify-items: center;
}

#contenedorLayouts > #lblLayout {
	grid-area: titulo;
	font-weight: bold;
}

#contenedorLayouts > #contenedorLista {
	grid-area: selector;
	width: 80%;
}
