#contenedorPeriodo {
	width: 100%;
	height: 100%;
	display: grid;
	align-content: center;
}

#contenedorPeriodo.cuadrado {
	grid-template-areas:
		"titulo titulo"
		"lblAnio txtAnio"
		"lblMes txtMes";
	align-items: center;
	justify-items: center;
	justify-content: center;
}

#contenedorPeriodo.largo {
	grid-template-areas:
		"titulo titulo titulo titulo"
		"lblAnio txtAnio lblMes txtMes";
	justify-items: center;
	align-items: center;
}

.tituloPeriodo {
	grid-area: titulo;
	font-weight: bold;
}

#lblAnioPeriodo {
	grid-area: lblAnio;
	width: 50px;
	text-align: end;
}

#lblPeriodo {
	grid-area: lblMes;
	width: 50px;
	text-align: end;
}

#anioPeriodo {
	grid-area: txtAnio;
	width: 50px;
}

#mesPeriodo {
	grid-area: txtMes;
	width: 50px;
}
