#contenedorPeriodo {
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
	justify-items: center;
	justify-content: center;
}


#contenedorPeriodo > *{
	margin: 2px;
}

#contenedorPeriodo.ancho {
	grid-template-areas:
		"titulo titulo"
		"lblAnio txtAnio"
		"lblMes txtMes";
}

#contenedorPeriodo.largo {
	grid-template-areas:
		"titulo titulo titulo titulo"
		"lblAnio txtAnio lblMes txtMes";
}

#tituloPeriodo {
	grid-area: titulo;
	font-weight: bold;
}

#lblAnioPeriodo {
	grid-area: lblAnio;
	width: 40px;
	text-align: end;
}

#lblMesPeriodo {
	grid-area: lblMes;
	width: 40px;
	text-align: end;
}

#anioPeriodo {
	grid-area: txtAnio;
	width: 60px;
}

#mesPeriodo {
	grid-area: txtMes;
	width: 60px;
}
