.msjContenedor {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	backdrop-filter: blur(5px);
	background-color: rgba(0, 0, 0, 0.4);
	display: grid;
	grid-template-columns: minmax(20%, 90%);
	grid-template-rows: minmax(20%, 90%);
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.msjContenedor > .msjMarco {
	background-color: #fff;
	border-radius: 10px;
	display: grid;
	grid-template-areas:
		"titulo"
		"mensaje"
		"captura"
		"boton";
	grid-gap: 5px;
	padding: 5px;
	justify-items: center;
}

.msjContenedor > .msjMarco.msjError {
	border: 5px solid var(--error);
}

.msjContenedor > .msjMarco.msjExito {
	border: 5px solid var(--exito);
}

.msjContenedor > .msjMarco.msjAdvertencia {
	border: 5px solid var(--advertencia);
}

.msjContenedor > .msjMarco.msjInformacion {
	border: 5px solid var(--azul_fuerte);
}

.msjContenedor > .msjMarco.msjSolicitar {
	border: 5px solid black;
}

.msjContenedor > .msjMarco.msjNeutro {
	border: 5px solid white;
}

.msjContenedor > .msjMarco > .msjTitulo {
	grid-area: titulo;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr max-content;
}

.msjContenedor > .msjMarco > .msjTitulo .titulo {
	width: 100%;
	height: 100%;
	font-weight: bold;
	font-size: large;
}

.msjContenedor > .msjMarco > .msjTitulo .cerrar {
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.msjContenedor > .msjMarco > .msjTexto {
	grid-area: mensaje;
	width: 100%;
	height: 100%;
	margin: 5px;
}

.msjContenedor > .msjMarco > .msjTexto .texto {
	width: 100%;
	height: 100%;
	font-size: medium;
	display: flex;
	align-items: center;
}

.msjContenedor > .msjMarco > .msjCaptura {
	grid-area: captura;
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.msjContenedor > .msjMarco > .msjBotones {
	grid-area: boton;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
}
