.msjContenedor {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	backdrop-filter: blur(5px);
	background-color: rgba(0, 0, 0, 0.4);
	display: grid;
	grid-template-columns: minmax(20%, 90%);
	grid-template-rows: minmax(20%, 90%);
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.msjMarco {
	background-color: #fff;
	border-radius: 10px;
	display: grid;
	grid-template-areas:
		"titulo"
		"mensaje"
		"boton";
	grid-gap: 5px;
	padding: 5px;
}

.msjError {
	border: 5px solid var(--error);
}

.msjExito {
	border: 5px solid var(--exito);
}

.msjAdvertencia {
	border: 5px solid var(--advertencia);
}

.msjInformacion {
	border: 5px solid var(--azul_fuerte);
}

.msjTitulo {
	grid-area: titulo;
	width: 100%;
	height: 100%;
	font-weight: bold;
	font-size: large;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.msjCerrar {
	font-weight: bold;
	color: #7e0e1d;
	cursor: pointer;
}

.msjTexto {
	margin: 5px;
	font-size: medium;
}

.msjBotones {
	display: flex;
	justify-content: space-evenly;
}
