.ulMenu {
	margin: 0;
	padding: 0;
	background-color: var(--azul_fuerte);
	border-radius: 0 0 15px 15px;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(6, minmax(0, 200px));
	grid-gap: 10px;
	justify-content: space-evenly;
}

.liMenu,
.liSubMenu {
	color: white;
	user-select: none;
	list-style: none;
	height: 100%;
	position: relative;
}

.liMenu > span,
.liSubMenu > span {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.liMenu:hover,
.liSubMenu:hover {
	color: var(--azul_claro);
	cursor: pointer;
}

.liMenu .ulSubMenu {
	border-radius: 0 0 15px 15px;
	display: none;
}

.liMenu:hover > .ulSubMenu {
	display: block;
	animation: mostrar 0.5s forwards;
}

.ulSubMenu {
    padding: 0 15px 0 15px;
    background-color: var(--azul_fuerte);
    position: absolute;
    animation: ocultar 0.5s forwards;
	white-space: nowrap;
}

.ulSubMenu > .ulSubMenu{
    width:100%;
}

.liSubMenu {
	position: relative;
	width: 100%;
	height: 30px;
	display: grid;
    justify-content: start;
}

.liSubMenu > .ulSubMenu {
	top: 0px;
	left: 100%;
	border-radius: 0 15px 15px 15px;
}

.liSubMenu:hover > .ulSubMenu {
	animation: mostrar 0.5s forwards;
}

.liSubMenu:hover > .ulSubMenu {
	display: block;
	animation: mostrar 0.5s forwards;
}

@keyframes mostrar {
	from {
		display: none;
		opacity: 0;
	}
	to {
		display: block;
		opacity: 1;
	}
}

@keyframes ocultar {
	from {
		display: block;
		opacity: 1;
	}
	to {
		display: none;
		opacity: 0;
	}
}