.RecalculoInteres > #contenedorAcciones {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: max-content;
	grid-template-areas: "periodoI periodoF consulta";
	justify-items: center;
	align-items: center;
}

.RecalculoInteres > #contenedorAcciones > #periodoI {
	grid-area: periodoI;
}

.RecalculoInteres > #contenedorAcciones > #periodoF {
	grid-area: periodoF;
}

.RecalculoInteres > #contenedorAcciones > #consulta {
	grid-area: consulta;
}