.RegAclaraciones > #contenedorAcciones {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: max-content;
	grid-template-areas: "credito buscar guardar";
	justify-items: center;
	align-items: center;
}

.RegAclaraciones > #contenedorAcciones > #credito {
	grid-area: credito;
}

.RegAclaraciones > #contenedorAcciones > #buscar {
	grid-area: buscar;
}

.RegAclaraciones > #contenedorAcciones > #guardar {
	grid-area: guardar;
}

.RegAclaraciones > #contenedorDatos {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	justify-content: center;
}

.RegAclaraciones > #contenedorDatos > .dt {
	height: 50px;
}

.RegAclaraciones > #contenedorDatos > .notas {
	height: 150px;
}