.RegCtasBancarias {
	display: grid !important;
	grid-template-rows: max-content 1fr !important;
	grid-template-areas: "titulo" "acciones" !important;
	justify-items: center !important;
	align-items: center !important;
	justify-content: center !important;
	align-content: center !important;
}

.RegCtasBancarias > #contenedorAcciones {
	display: flex;
	flex-direction: column;
	justify-items: center;
	height: 50%;
	align-items: center;
}

.RegCtasBancarias > #contenedorAcciones > #banco {
	grid-area: banco;
}

.RegCtasBancarias > #contenedorAcciones > #cuenta {
	grid-area: cuenta;
}

.RegCtasBancarias > #contenedorAcciones > #confirmacion {
	grid-area: confirmacion;
}

.RegCtasBancarias > #contenedorAcciones > #saldoInicial {
	grid-area: saldoInicial;
}

.RegCtasBancarias > #contenedorAcciones > #fecha {
	grid-area: fecha;
}

.RegCtasBancarias > #contenedorAcciones > #comentarios {
	grid-area: comentarios;
}

.RegCtasBancarias > #contenedorAcciones > #guardar {
	grid-area: guardar;
}

.RegCtasBancarias > #contenedorDatos {
	display: none;
}

.RegCtasBancarias > #contenedorAcciones > .contenedorListaDesplegable {
	width: 100%;
}

.RegCtasBancarias > #contenedorAcciones > .contenedorSolicitaDato {
	width: 100%;
}