@import url("./selBanco.css");
@import url("./selPeriodo.css");
@import url("./selArchivo.css");
@import url("./selLayout.css");
@import url("./tabla.css");

.regTrnBancos {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 2fr .5fr;
	grid-template-rows: max-content 1fr 88%;
	grid-template-areas:
		"titulo titulo titulo titulo titulo"
		"periodo banco layout archivo guardar"
		"tabla tabla tabla tabla tabla";
	justify-items: center;
	align-items: start;
}

.regTrnBancos .titulo {
	grid-area: titulo;
	margin: 0;
}

.regTrnBancos .selBanco {
	grid-area: banco;
}

.regTrnBancos .selPeriodo {
	grid-area: periodo;
}

.regTrnBancos .selArchivo {
	grid-area: archivo;
}

.regTrnBancos .layout {
	grid-area: layout;
}

.regTrnBancos .contenedorGuardar {
	grid-area: guardar;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.regTrnBancos .tablaDatos {
	grid-area: tabla;
}
