#contenedorAcciones {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 2fr 0.5fr;
	grid-template-rows: max-content;
	grid-template-areas: "periodo banco layout archivo guardar";
	justify-items: center;
	align-items: center;
}

#contenedorAcciones > .selPeriodo {
	grid-area: periodo;
}

#contenedorAcciones > .selBanco {
	grid-area: banco;
}

#contenedorAcciones > .layout {
	grid-area: layout;
}

#contenedorAcciones > .selArchivo {
	grid-area: archivo;
}

#contenedorAcciones > .contenedorGuardar {
	grid-area: guardar;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#contenedorDatos > .tablaDatos {
	grid-area: tabla;
}
