.RegUsuarios {
    display: grid !important;
    grid-template-rows: max-content 1fr !important;
    grid-template-areas: "titulo" "acciones" !important;
    justify-items: center !important;
    align-items: center !important;
    justify-content: center !important;
    align-content: center !important;
}

.RegUsuarios > #contenedorAcciones {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 50%;
    align-items: center;
}

.RegUsuarios > #contenedorAcciones > #nombre1 {
    grid-area: nombre1;
}

.RegUsuarios > #contenedorAcciones > #nombre2 {
    grid-area: nombre2;
}

.RegUsuarios > #contenedorAcciones > #apellido1 {
    grid-area: apellido1;
}

.RegUsuarios > #contenedorAcciones > #apellido2 {
    grid-area: apellido2;
}

.RegUsuarios > #contenedorAcciones > #correo {
    grid-area: correo;
}

.RegUsuarios > #contenedorAcciones > #perfil {
    grid-area: perfil;
}

.RegUsuarios > #contenedorAcciones > .contenedorListaDesplegable {
	width: 100%;
}

.RegUsuarios > #contenedorAcciones > .contenedorSolicitaDato {
	width: 100%;
}