.ResConciliacion > #contenedorAcciones {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: max-content;
	grid-template-areas: "periodoI periodoF consulta";
	justify-items: center;
	align-items: center;
}

.ResConciliacion > #contenedorAcciones > #periodoI {
	grid-area: periodoI;
}

.ResConciliacion > #contenedorAcciones > #periodoF {
	grid-area: periodoF;
}

.ResConciliacion > #contenedorAcciones > #consulta {
	grid-area: consulta;
}

.ResConciliacion > #contenedorDatos {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
    justify-content: center;
}

.ResConciliacion  > #contenedorDatos > .tituloRes {
	font-size: 20px;
	font-weight: bold;
	padding-top: 15px;
}


.ResConciliacion > #contenedorDatos > .contenedorMuestraDato > .txtDato {
	width: 400px;
}