.contenedorArchivo {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-areas:
		"titulo titulo"
		"ruta ruta"
		"selector boton";
	position: relative;
	text-align: center;
	/* align-content: center; */
	align-items: center;
	justify-items: center;
}

.contenedorArchivo .titulo {
	grid-area: titulo;
	font-weight: bold;
}

.contenedorArchivo .lblRuta {
	grid-area: ruta;
}

.contenedorArchivo .lblArchivo {
	grid-area: selector;
	background: var(--btnGradiente);
	border-radius: 15px;
	cursor: pointer;
	color: white;
	padding: 5px 10px;
	user-select: none;
}

.contenedorArchivo .lblArchivo:hover {
	background: var(--btnGradienteHover);
}

.contenedorArchivo .lblArchivo:not(.disabled):active {
	position: relative;
	top: 1px;
}

.contenedorArchivo .lblArchivo.disabled {
	background: var(--btnGradienteDisabled);
	cursor: not-allowed;
}

.contenedorArchivo .btnAbrir {
	grid-area: boton;
}

.contenedorArchivo .inArchivo {
	display: none;
}
