.contenedorTablaDatos {
	inset: 0;
	margin: auto;
	width: 95%;
	height: 100%;
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: max-content max-content 1fr;
	grid-template-areas:
		"controles"
		"detalles"
		"tabla";
	justify-items: center;
	justify-content: center;
	overflow: hidden;
	border: 1px solid black;
	border-radius: 15px;
}

.contenedorTablaDatos > .contenedorControles {
	grid-area: controles;
	margin: 0;
	padding: 5px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedorTablaDatos > .contenedorControles > * {
	margin-right: 10px;
}

.contenedorTablaDatos > .contenedorDetalle {
	grid-area: detalles;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	padding: 5px;
	flex-wrap: wrap;
}

.contenedorTablaDatos > .contenedorTabla {
	grid-area: tabla;
	width: 100%;
	height: 99%;
	position: relative;
	overflow: auto;
	padding: 0px 5px 5px 5px;
}

.contenedorTablaDatos > .contenedorTabla > .tablaDatos {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid black;
}

.contenedorTablaDatos > .contenedorTabla > .tablaDatos > .encabezadoTabla {
	background-color: var(--azul_medio_1);
	color: white;
	position: sticky;
	top: 0;
	border: 1px solid black;
}

.contenedorTablaDatos > .contenedorTabla .asc::after {
	content: " ↑";
}

.contenedorTablaDatos > .contenedorTabla .desc::after {
	content: " ↓";
}

.contenedorTablaDatos > .contenedorTabla .fila:nth-child(even) {
	background-color: #d6d6d6e3;
}

.contenedorTablaDatos > .contenedorTabla .fila:hover {
	background-color: #a0a0a0;
}

.contenedorTablaDatos > .contenedorTabla .number,
.currency {
	text-align: right;
}

.contenedorTablaDatos > .contenedorTabla .celda.date {
	text-align: center;
}

.contenedorTablaDatos > .contenedorTabla .celda:hover {
	background-color: #797979;
}

.contenedorTablaDatos > .contenedorTabla .celda[contentEditable="true"] {
	background-color: #f0f0f0;
	border: 1px solid #000;
	scale: 1.2;
}

.contenedorTablaDatos > .contenedorTabla > .tablaDatos .celda,
.celdaEncabezado {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.contenedorTablaDatos > .contenedorTabla::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: gray;
	border-radius: 10px;
}

.contenedorTablaDatos > .contenedorTabla::-webkit-scrollbar-thumb {
	background-color: var(--azul_medio_1);
	border-radius: 10px;
}

.contenedorTablaDatos > .contenedorTabla::-webkit-scrollbar-thumb:hover {
	background-color: var(--azul_claro);
}

.contenedorTablaDatos > .contenedorTabla::-webkit-scrollbar-thumb:active {
	background-color: var(--azul_medio_1);
}
